{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'crypt/css/style.css' %}">

<div id="mainMenuPanel">
    {% include './top_menu.html' %}
</div> 

<div class="index_lists_container">
    <div>
    {% if coins %}
        <ul class="index_names_list">
            <li class="index_lists_title">Dostępne kryptowaluty:</li>
        {% for coin in coins %}
            <li class="index_names_list_el" onclick="location.href='/crypt/detail/{{ coin.coin_id }}/8'">[{{ coin.coin_id }}] {{ coin.coin_name }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No coins are available.</p>
    {% endif %}
    </div>
    <div>
    {% if current_price %}
        <ul class="index_prices_list">
            <li class="index_lists_title">Obecne ceny:</li>
        {% for cp in current_price %}
            <li class="index_prices_list_el">{{ cp }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No prices available</p>
    {% endif %}
    </div>
</div>

{% if not current_price %}
    <a class="btn_upd" href="/crypt/update_db_button">Naciśnij aby wprowadzić przykładowe dane do bazy danych (chwilę zajmie)</a>
{% endif %}

<script>
    async function getData() {
 
                // try {
                //     // fetch tasks
                //     // const response = await fetch('http://127.0.0.1:8000/api/',{method:'POST',body:{user_id:'1', coins:'BTC', amount:20}});
                //     const response = await fetch('http://127.0.0.1:8000/api');
                //     // set the data returned as tasks
                //     const tasks = response;
                //     console.log(response.json().data)
                // } catch (error) {
                //     // log the error
                //     console.log(error);
                // }



                await fetch('http://127.0.0.1:8000/api')
                .then(response => {
                    return response.json()
                })
                .then(data => {
                    // Work with JSON data here
                    console.log(data[0]['amount'])
                })
                .catch(err => {
                    console.log(err)
                })

                
            }

</script>