{% load static %}

{% block top_menu %}
<div class="menu_container">
    <div class="menu_el mainpage_el" onclick="location.href='/crypt/'">Strona Główna</div>
    <div id="calendar" class="menu_el calendar"></div>
    <div id="clock" class="menu_el"></div>
{% if not request.user.is_authenticated %}
    <div class="menu_el login_el" onclick="location.href='/crypt/user_log_in/'">Zaloguj się</div>
{% else %} 
    <div class="menu_el login_el" onclick="location.href='/crypt/user_log_out/'">Wyloguj się</div>
{% endif %}
    <div class="menu_el">{{  request.user }}</div>
</div>
{% endblock %}

<script src="{% static 'crypt/js/cur_time.js' %}"></script>