{% load static %}

{% block top_menu %}
<div style="background:black;color:white;display:flex">
    <div style="margin:30;font-size: 24" onclick="location.href='/crypt/'">Strona Główna</div>
    <div style="margin:30;font-size: 24">{{  request.user }}</div>

{% if not request.user.is_authenticated %}
    <div style="margin:30;font-size: 24" onclick="location.href='/crypt/user_log_in/'">Zaloguj się</div>
{% else %} 
    <div style="margin:30;font-size: 24" onclick="location.href='/crypt/user_log_out/'">Wyloguj się</div>
{% endif %}

    <div id="calendar" style="margin:30;font-size: 24"></div>
    <div id="clock" style="margin:30;font-size: 24"></div>
</div>
{% endblock %}

<script src="{% static 'crypt/js/cur_time.js' %}"></script>